In [1]:
# import dependencies
import psycopg2

import pandas as pd
import csv, os
import warnings
warnings.filterwarnings("ignore")

# SQL Alchemy
from sqlalchemy import create_engine

#from config import username, password

In [2]:
#loding json to a dataframe and converted to a csv file
df = pd.read_json (r'data/locationsWithAggregates.json')
# df.tocsv (r'data/locationsWithAggregates.csv', index = None)

ValueError: Expected object or value

In [13]:
df = pd.read_csv ('data/unpopulation_dataportal_20220929172315.csv')
df.head()

,IndicatorId,IndicatorName,IndicatorShortName,Source,SourceYear,Author,LocationId,Location,Iso2,Iso3,...,AgeStart,AgeEnd,Age,CategoryId,Category,EstimateTypeId,EstimateType,EstimateMethodId,EstimateMethod,Value
0,49,Total population by sex,Total population by sex,World Population Prospects,2022,United Nations Population Division,4,Afghanistan,AF,AFG,...,0,-1,Total,0,Not applicable,1,Model-based Estimates,2,Interpolation,10694796
1,49,Total population by sex,Total population by sex,World Population Prospects,2022,United Nations Population Division,4,Afghanistan,AF,AFG,...,0,-1,Total,0,Not applicable,1,Model-based Estimates,2,Interpolation,10745167
2,49,Total population by sex,Total population by sex,World Population Prospects,2022,United Nations Population Division,4,Afghanistan,AF,AFG,...,0,-1,Total,0,Not applicable,1,Model-based Estimates,2,Interpolation,12057433
3,49,Total population by sex,Total population by sex,World Population Prospects,2022,United Nations Population Division,4,Afghanistan,AF,AFG,...,0,-1,Total,0,Not applicable,1,Model-based Estimates,2,Interpolation,14003760
4,49,Total population by sex,Total population by sex,World Population Prospects,2022,United Nations Population Division,4,Afghanistan,AF,AFG,...,0,-1,Total,0,Not applicable,1,Model-based Estimates,2,Interpolation,15455555

In [17]:
dfDropped = df.drop(columns =["Iso2", "IndicatorId","AgeId","Sex","SexId", "Variant", "VariantId","SexId", "IndicatorName", "IndicatorShortName", "Source", "SourceYear", "Author", "TimeId", "AgeStart","AgeEnd", "Age", "CategoryId", "Category", "EstimateTypeId", "EstimateType","EstimateMethodId", "EstimateMethod" ])
dfDropped.head(35)

    LocationId     Location Iso3  Time     Value
0            4  Afghanistan  AFG  1990  10694796
1            4  Afghanistan  AFG  1991  10745167
2            4  Afghanistan  AFG  1992  12057433
3            4  Afghanistan  AFG  1993  14003760
4            4  Afghanistan  AFG  1994  15455555
5            4  Afghanistan  AFG  1995  16418912
6            4  Afghanistan  AFG  1996  17106596
7            4  Afghanistan  AFG  1997  17788819
8            4  Afghanistan  AFG  1998  18493132
9            4  Afghanistan  AFG  1999  19262848
10           4  Afghanistan  AFG  2000  19542983
11           4  Afghanistan  AFG  2001  19688633
12           4  Afghanistan  AFG  2002  21000257
13           4  Afghanistan  AFG  2003  22645130
14           4  Afghanistan  AFG  2004  23553551
15           4  Afghanistan  AFG  2005  24411191
16           4  Afghanistan  AFG  2006  25442944
17           4  Afghanistan  AFG  2007  25903301
18           4  Afghanistan  AFG  2008  26427199
19           4  Afghanistan  AFG  2009  27385308
20           4  Afghanistan  AFG  2010  28189672
21           4  Afghanistan  AFG  2011  29249157
22           4  Afghanistan  AFG  2012  30466479
23           4  Afghanistan  AFG  2013  31541209
24           4  Afghanistan  AFG  2014  32716210
25           4  Afghanistan  AFG  2015  33753499
26           4  Afghanistan  AFG  2016  34636208
27           4  Afghanistan  AFG  2017  35643418
28           4  Afghanistan  AFG  2018  36686784
29           4  Afghanistan  AFG  2019  37769499
30           4  Afghanistan  AFG  2020  38972231
31           4  Afghanistan  AFG  2021  40099462
32           4  Afghanistan  AFG  2022  41128771
33           4  Afghanistan  AFG  2023  42239854
34           4  Afghanistan  AFG  2024  43372950

In [ ]:
students_passed_math_and_reading = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]

In [33]:

dfYear= dfDropped.loc[(dfDropped["Time"] == 1990) | (dfDropped["Time"] == 2000) | (dfDropped["Time"] == 2010) | (dfDropped["Time"] == 2020)]


dfYear.head(25)

     LocationId             Location Iso3  Time     Value
0             4          Afghanistan  AFG  1990  10694796
10            4          Afghanistan  AFG  2000  19542983
20            4          Afghanistan  AFG  2010  28189672
30            4          Afghanistan  AFG  2020  38972231
41            8              Albania  ALB  1990   3295066
51            8              Albania  ALB  2000   3182021
61            8              Albania  ALB  2010   2913400
71            8              Albania  ALB  2020   2866849
82           12              Algeria  DZA  1990  25518074
92           12              Algeria  DZA  2000  30774621
102          12              Algeria  DZA  2010  35856344
112          12              Algeria  DZA  2020  43451666
123          16       American Samoa  ASM  1990     47818
133          16       American Samoa  ASM  2000     58230
143          16       American Samoa  ASM  2010     54850
153          16       American Samoa  ASM  2020     46189
164          20              Andorra  AND  1990     53570
174          20              Andorra  AND  2000     66098
184          20              Andorra  AND  2010     71520
194          20              Andorra  AND  2020     77700
205          24               Angola  AGO  1990  11828638
215          24               Angola  AGO  2000  16394062
225          24               Angola  AGO  2010  23364186
235          24               Angola  AGO  2020  33428486
246          28  Antigua and Barbuda  ATG  1990     63328

In [34]:
dfYear.to_csv ('data/populations.csv', index = None)

In [8]:
# Create Engine for project3 data
engine = create_engine(f"postgresql://{username}:{password}@localhost/worldPopulation")

conn = engine.connect()
#uploading to respecive tables in project2 database

df.to_sql('locationswithaggregates', con=conn, if_exists='replace', index=False)

100

In [3]:
#loding json to a dataframe and converted to a csv file
df = pd.read_json (r'data/locations.json')
df.to_csv (r'data/populations.csv', index = None)

In [ ]:
# Create Engine for project3 data
engine = create_engine(f"postgresql://{username}:{password}@localhost/worldPopulation")

conn = engine.connect()
#uploading to respecive tables in project2 database

df.to_sql('locations', con=conn, if_exists='replace', index=False)