In [3]:
# import dependencies
import psycopg2

import pandas as pd
import csv, os
import warnings
warnings.filterwarnings("ignore")

# SQL Alchemy
from sqlalchemy import create_engine

from config import username, password

In [4]:
df = pd.read_csv ('data/unpopulation_dataportal_20220929172315.csv')
df.head()

,IndicatorId,IndicatorName,IndicatorShortName,Source,SourceYear,Author,LocationId,Location,Iso2,Iso3,...,AgeStart,AgeEnd,Age,CategoryId,Category,EstimateTypeId,EstimateType,EstimateMethodId,EstimateMethod,Value
0,49,Total population by sex,Total population by sex,World Population Prospects,2022,United Nations Population Division,4,Afghanistan,AF,AFG,...,0,-1,Total,0,Not applicable,1,Model-based Estimates,2,Interpolation,10694796
1,49,Total population by sex,Total population by sex,World Population Prospects,2022,United Nations Population Division,4,Afghanistan,AF,AFG,...,0,-1,Total,0,Not applicable,1,Model-based Estimates,2,Interpolation,10745167
2,49,Total population by sex,Total population by sex,World Population Prospects,2022,United Nations Population Division,4,Afghanistan,AF,AFG,...,0,-1,Total,0,Not applicable,1,Model-based Estimates,2,Interpolation,12057433
3,49,Total population by sex,Total population by sex,World Population Prospects,2022,United Nations Population Division,4,Afghanistan,AF,AFG,...,0,-1,Total,0,Not applicable,1,Model-based Estimates,2,Interpolation,14003760
4,49,Total population by sex,Total population by sex,World Population Prospects,2022,United Nations Population Division,4,Afghanistan,AF,AFG,...,0,-1,Total,0,Not applicable,1,Model-based Estimates,2,Interpolation,15455555

In [5]:
dfDropped = df.drop(columns =["Iso2", "IndicatorId","AgeId","Sex","SexId", "Variant", "VariantId","SexId", "IndicatorName", "IndicatorShortName", "Source", "SourceYear", "Author", "TimeId", "AgeStart","AgeEnd", "Age", "CategoryId", "Category", "EstimateTypeId", "EstimateType","EstimateMethodId", "EstimateMethod" ])
dfDropped.head(35)

    LocationId     Location Iso3  Time     Value
0            4  Afghanistan  AFG  1990  10694796
1            4  Afghanistan  AFG  1991  10745167
2            4  Afghanistan  AFG  1992  12057433
3            4  Afghanistan  AFG  1993  14003760
4            4  Afghanistan  AFG  1994  15455555
5            4  Afghanistan  AFG  1995  16418912
6            4  Afghanistan  AFG  1996  17106596
7            4  Afghanistan  AFG  1997  17788819
8            4  Afghanistan  AFG  1998  18493132
9            4  Afghanistan  AFG  1999  19262848
10           4  Afghanistan  AFG  2000  19542983
11           4  Afghanistan  AFG  2001  19688633
12           4  Afghanistan  AFG  2002  21000257
13           4  Afghanistan  AFG  2003  22645130
14           4  Afghanistan  AFG  2004  23553551
15           4  Afghanistan  AFG  2005  24411191
16           4  Afghanistan  AFG  2006  25442944
17           4  Afghanistan  AFG  2007  25903301
18           4  Afghanistan  AFG  2008  26427199
19           4  Afghanistan  AFG  2009  27385308
20           4  Afghanistan  AFG  2010  28189672
21           4  Afghanistan  AFG  2011  29249157
22           4  Afghanistan  AFG  2012  30466479
23           4  Afghanistan  AFG  2013  31541209
24           4  Afghanistan  AFG  2014  32716210
25           4  Afghanistan  AFG  2015  33753499
26           4  Afghanistan  AFG  2016  34636208
27           4  Afghanistan  AFG  2017  35643418
28           4  Afghanistan  AFG  2018  36686784
29           4  Afghanistan  AFG  2019  37769499
30           4  Afghanistan  AFG  2020  38972231
31           4  Afghanistan  AFG  2021  40099462
32           4  Afghanistan  AFG  2022  41128771
33           4  Afghanistan  AFG  2023  42239854
34           4  Afghanistan  AFG  2024  43372950

In [6]:
#Extracting data for 1990, 2000, 2010, and 2020
dfYear= dfDropped.loc[(dfDropped["Time"] == 1990) | (dfDropped["Time"] == 2000) | (dfDropped["Time"] == 2010) | (dfDropped["Time"] == 2020)]


dfYear.head(25)

     LocationId             Location Iso3  Time     Value
0             4          Afghanistan  AFG  1990  10694796
10            4          Afghanistan  AFG  2000  19542983
20            4          Afghanistan  AFG  2010  28189672
30            4          Afghanistan  AFG  2020  38972231
41            8              Albania  ALB  1990   3295066
51            8              Albania  ALB  2000   3182021
61            8              Albania  ALB  2010   2913400
71            8              Albania  ALB  2020   2866849
82           12              Algeria  DZA  1990  25518074
92           12              Algeria  DZA  2000  30774621
102          12              Algeria  DZA  2010  35856344
112          12              Algeria  DZA  2020  43451666
123          16       American Samoa  ASM  1990     47818
133          16       American Samoa  ASM  2000     58230
143          16       American Samoa  ASM  2010     54850
153          16       American Samoa  ASM  2020     46189
164          20              Andorra  AND  1990     53570
174          20              Andorra  AND  2000     66098
184          20              Andorra  AND  2010     71520
194          20              Andorra  AND  2020     77700
205          24               Angola  AGO  1990  11828638
215          24               Angola  AGO  2000  16394062
225          24               Angola  AGO  2010  23364186
235          24               Angola  AGO  2020  33428486
246          28  Antigua and Barbuda  ATG  1990     63328

In [7]:
# Renaming the columns
dfYear = dfYear.rename(columns={
'LocationId': 'location_Id',
'Location': 'location',
'Iso3': 'iso3',
'Time': 'time',
'Value': 'population'
})

In [8]:
dfYear

      location_Id     location iso3  time  population
0               4  Afghanistan  AFG  1990    10694796
10              4  Afghanistan  AFG  2000    19542983
20              4  Afghanistan  AFG  2010    28189672
30              4  Afghanistan  AFG  2020    38972231
41              8      Albania  ALB  1990     3295066
...           ...          ...  ...   ...         ...
9624          887        Yemen  YEM  2020    32284046
9635          894       Zambia  ZMB  1990     7686401
9645          894       Zambia  ZMB  2000     9891136
9655          894       Zambia  ZMB  2010    13792087
9665          894       Zambia  ZMB  2020    18927715

[944 rows x 5 columns]

In [9]:
# Creating CSV file - populations.csv
dfYear.to_csv ('data/populations.csv', index = None)

In [10]:
#Read locations.csv into a dataframe
locationDF = pd.read_csv ('data/locations.csv')
df.head()

,IndicatorId,IndicatorName,IndicatorShortName,Source,SourceYear,Author,LocationId,Location,Iso2,Iso3,...,AgeStart,AgeEnd,Age,CategoryId,Category,EstimateTypeId,EstimateType,EstimateMethodId,EstimateMethod,Value
0,49,Total population by sex,Total population by sex,World Population Prospects,2022,United Nations Population Division,4,Afghanistan,AF,AFG,...,0,-1,Total,0,Not applicable,1,Model-based Estimates,2,Interpolation,10694796
1,49,Total population by sex,Total population by sex,World Population Prospects,2022,United Nations Population Division,4,Afghanistan,AF,AFG,...,0,-1,Total,0,Not applicable,1,Model-based Estimates,2,Interpolation,10745167
2,49,Total population by sex,Total population by sex,World Population Prospects,2022,United Nations Population Division,4,Afghanistan,AF,AFG,...,0,-1,Total,0,Not applicable,1,Model-based Estimates,2,Interpolation,12057433
3,49,Total population by sex,Total population by sex,World Population Prospects,2022,United Nations Population Division,4,Afghanistan,AF,AFG,...,0,-1,Total,0,Not applicable,1,Model-based Estimates,2,Interpolation,14003760
4,49,Total population by sex,Total population by sex,World Population Prospects,2022,United Nations Population Division,4,Afghanistan,AF,AFG,...,0,-1,Total,0,Not applicable,1,Model-based Estimates,2,Interpolation,15455555

In [11]:
#Read gdp.csv into a dataframe
gdpDF = pd.read_csv ('data/UN_GDP_Data.csv')
gdpDF.head()

  Country or Area  Year                          Item        Value
0     Afghanistan  2020  Gross Domestic Product (GDP)   508.453722
1     Afghanistan  2010  Gross Domestic Product (GDP)   503.636606
2     Afghanistan  2000  Gross Domestic Product (GDP)   160.829727
3     Afghanistan  1990  Gross Domestic Product (GDP)   286.772753
4         Albania  2020  Gross Domestic Product (GDP)  5180.914198

In [12]:
# Renaming the columns
gdpDF = gdpDF.rename(columns={
'Country or Area': 'country',
'Year': 'year',
'Item': 'item',
'Value': 'gdp'
})

In [13]:
# Renaming the columns
gdpDF

         country  year                          item          gdp
0    Afghanistan  2020  Gross Domestic Product (GDP)   508.453722
1    Afghanistan  2010  Gross Domestic Product (GDP)   503.636606
2    Afghanistan  2000  Gross Domestic Product (GDP)   160.829727
3    Afghanistan  1990  Gross Domestic Product (GDP)   286.772753
4        Albania  2020  Gross Domestic Product (GDP)  5180.914198
..           ...   ...                           ...          ...
845       Zambia  1990  Gross Domestic Product (GDP)   472.176634
846     Zimbabwe  2020  Gross Domestic Product (GDP)  1465.845054
847     Zimbabwe  2010  Gross Domestic Product (GDP)   948.331853
848     Zimbabwe  2000  Gross Domestic Product (GDP)   733.958861
849     Zimbabwe  1990  Gross Domestic Product (GDP)  1299.806761

[850 rows x 4 columns]

In [14]:
# Create Engine for project3 data
engine = create_engine(f"postgresql://{username}:{password}@localhost/worldPopulation")

conn = engine.connect()
#uploading to respecive tables in project2 database

dfYear.to_sql('populations', con=conn, if_exists='replace', index=False)
locationDF.to_sql('locations', con=conn, if_exists='replace', index=False)
gdpDF.to_sql('gdp', con=conn, if_exists='replace', index=False)

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: FATAL:  password authentication failed for user "postgres"

(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [15]:
#Read worldPopulationData.csv into a dataframe
worldPopulationsDataDF = pd.read_csv ('data/worldPopulationsData.csv')
worldPopulationsDataDF.head()

      location  time  population          gdp  longitude   latitude
0  Afghanistan  2020    38972231   508.453722  67.709953  33.939110
1  Afghanistan  2010    28189672   503.636606  67.709953  33.939110
2  Afghanistan  2000    19542983   160.829727  67.709953  33.939110
3  Afghanistan  1990    10694796   286.772753  67.709953  33.939110
4      Albania  2020     2866849  5180.914198  20.168331  41.153332

In [16]:
len(worldPopulationsDataDF)

780

In [34]:
changeList = []

for i in range(len(worldPopulationsDataDF) - 1):
    
    if worldPopulationsDataDF.loc[i, "location"] == worldPopulationsDataDF.loc[i+1, "location"]:
        change = ((worldPopulationsDataDF.loc[i, "population"] - worldPopulationsDataDF.loc[i + 1, "population"])/worldPopulationsDataDF.loc[i + 1, "population"])
        changeList.append(change)
        
    else:
        change = 0
        changeList.append(change)
             



changeList.insert(780, 0)
#print(changeList)
worldPopulationsDataDF["popGrowth"] = changeList
worldPopulationsDataDF.tail

<bound method NDFrame.tail of         location  time  population          gdp  longitude   latitude  \
0    Afghanistan  2020    38972231   508.453722  67.709953  33.939110
1    Afghanistan  2010    28189672   503.636606  67.709953  33.939110
2    Afghanistan  2000    19542983   160.829727  67.709953  33.939110
3    Afghanistan  1990    10694796   286.772753  67.709953  33.939110
4        Albania  2020     2866849  5180.914198  20.168331  41.153332
..           ...   ...         ...          ...        ...        ...
775        Yemen  1990    13375121   344.037204  48.516388  15.552727
776       Zambia  2020    18927715   985.132788  27.849333 -13.133897
777       Zambia  2010    13792087  1489.447621  27.849333 -13.133897
778       Zambia  2000     9891136   345.684498  27.849333 -13.133897
779       Zambia  1990     7686401   472.176634  27.849333 -13.133897

     popGrowth
0     0.382500
1     0.442445
2     0.827336
3     0.000000
4    -0.015978
..         ...
775   0.000000
776   0.372360
777   0.394389
778   0.286836
779   0.000000

[780 rows x 7 columns]>

In [35]:
changegdplist = []

for i in range(len(worldPopulationsDataDF) - 1):
    
    if worldPopulationsDataDF.loc[i, "location"] == worldPopulationsDataDF.loc[i+1, "location"]:
        changegdp = ((worldPopulationsDataDF.loc[i, "gdp"] - worldPopulationsDataDF.loc[i + 1, "gdp"])/worldPopulationsDataDF.loc[i + 1, "gdp"])
        changegdplist.append(changegdp)
        
    else:
        changegdp = 0
        changegdplist.append(changegdp)
        
changegdplist.insert(780, 0)
#print(changeList)
worldPopulationsDataDF["gdpGrowth"] = changegdplist
worldPopulationsDataDF.tail

<bound method NDFrame.tail of         location  time  population          gdp  longitude   latitude  \
0    Afghanistan  2020    38972231   508.453722  67.709953  33.939110
1    Afghanistan  2010    28189672   503.636606  67.709953  33.939110
2    Afghanistan  2000    19542983   160.829727  67.709953  33.939110
3    Afghanistan  1990    10694796   286.772753  67.709953  33.939110
4        Albania  2020     2866849  5180.914198  20.168331  41.153332
..           ...   ...         ...          ...        ...        ...
775        Yemen  1990    13375121   344.037204  48.516388  15.552727
776       Zambia  2020    18927715   985.132788  27.849333 -13.133897
777       Zambia  2010    13792087  1489.447621  27.849333 -13.133897
778       Zambia  2000     9891136   345.684498  27.849333 -13.133897
779       Zambia  1990     7686401   472.176634  27.849333 -13.133897

     popGrowth  gdpGrowth
0     0.382500   0.009565
1     0.442445   2.131490
2     0.827336  -0.439174
3     0.000000   0.000000
4    -0.015978   0.280584
..         ...        ...
775   0.000000   0.000000
776   0.372360  -0.338592
777   0.394389   3.308691
778   0.286836  -0.267892
779   0.000000   0.000000

[780 rows x 8 columns]>

In [36]:
worldPopulationsDataDF.to_csv ('data/worldgdppop.csv', index = None)